html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  --color-primary: #1fa6f4;
  --color-bg: #222;
  --color-text: #eee;
  --color-text-gray: #ccc;
  --color-border: #c4c4c480;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
